body {
    background-color: rgb(230, 173, 173);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

  h2 {
      color: rgb(137, 130, 238);

  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }